---
layout: shell
---

<div class="container">
    <div class="card">
        <div class="section-title">
            <h3 class="page-title" style="text-align:center; width:100%;">{{ page.title }}</h3>
            <!-- <span>Post</span> -->
        </div>

        <!-- Force line break between Category and Tags -->
        <div class="meta"
            style="margin-top: 6px; margin-bottom: 12px; flex-direction: column; align-items: flex-start;">
            {% if page.categories and page.categories.size > 0 %}
            <div style="display:flex; align-items:center; gap:8px; flex-wrap:wrap;">
                <strong>Category:</strong>

                {% for c in page.categories %}
                {% assign c_slug = c | slugify %}
                {% assign c_display = c %}

                {% for item in site.data.category_list %}
                {% if item.slug == c_slug %}
                {% assign c_display = item.title %}
                {% endif %}
                {% endfor %}

                <a class="tag" href="{{ '/categories/#' | append: c_slug | relative_url }}">{{ c_display }}</a>
                {% endfor %}
            </div>
            {% endif %}


            {% if page.tags and page.tags.size > 0 %}
            <div style="display:flex; align-items:center; gap:8px; flex-wrap:wrap;">
                <strong>Tags:</strong>

                {% for t in page.tags %}
                {% assign t_slug = t | slugify %}
                {% assign display = t %}

                {% for item in site.data.tag_list %}
                {% if item.slug == t_slug %}
                {% assign display = item.title %}
                {% endif %}
                {% endfor %}

                <a class="tag" href="{{ '/tags/#' | append: t_slug | relative_url }}">{{ display }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="content">
            {{ content }}
        </div>

        {% include related_posts_auto.html %}

    </div>
</div>